* {
    padding: 0;
    margin: 0;
}

.border-bottom {
    background-color: transparent;
    border-radius: 0;
    border-bottom-width: 4px;
}

main{
    overflow: hidden !important;
}

body{
    margin: 0;
    padding: 0;
}

.diagonal-box{
    min-height: 93vh;
    background-image: linear-gradient(90deg, rgba(246,207,134,1) 0%, rgba(255,196,156,1) 100%);
    transform: skewY(-11deg);
}

.content{
    transform: skewY(11deg);
}

#plate{
    width: 40%;
    position:absolute;
    top: -17% !important;
    right: -10% !important;
    transform: skewY(11deg) rotate(-45deg);
    max-width: 900px;
}

.img-div {
    width: 100%;
}

#flipBtn {
    background: orange;
    border: none;
    letter-spacing: 1px;
}

.card {
    max-width: 540px;
   background: rgba( 250, 246, 246, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}